html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1em;
  padding-top: 2.3125em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2.3125em;
  text-align: center;
  line-height: 1.3em;
}

.main-wrapper {
  border-radius: 5%;
  background-color: white;
  max-width: 20.4375em;
}

.image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 auto;
  padding: 1em 1.9em 1.3em 1.9em;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.button-1 {
  color: white;
  font-size: 1em;
  width: 80%;
  height: 3em;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #3829e0;
  cursor: pointer;
  border: none;
  position: relative;
  -webkit-box-shadow: 2px 13px 17px rgba(56, 41, 224, 0.5);
          box-shadow: 2px 13px 17px rgba(56, 41, 224, 0.5);
}

.button-2 {
  color: black;
  background-color: #f5f7ff;
  font-size: 1em;
  width: 80%;
  height: 3em;
  margin: 10px auto;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

.smth-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: #f5f7ff;
}

.smth {
  margin-left: 15px;
  margin-right: 35px;
}

@media screen and (min-width: 376px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
  }
  .main-wrapper {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */